<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand">TheGossiProject</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-pills">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Team", team_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link"%>
        </li>
      </ul>
    </div>
  </nav>
</header>



<div class="container-fluid">
  <div class="pt-5 my-5 text-center">
    <h3><strong>Gossip Board</strong></h3>
  </div>
  <div class="row">
    <% Gossip.all.each do |gossip| %>
      <div class="col-l-1 col-md-12 col-sm-6">
        <div class="card border-dark mb-1" style="border-width: 1px;"> 
          <div class="card-body">
            <h5 class="card-title text-center"><%= gossip.title %><</h5>
            
            <p class="card-text text-center " > <strong >&quot</strong> <%= link_to gossip.user.first_name, user_path(gossip.user.id) %></p>
          </div>

      
          
         <%= link_to "ðŸ‘", gossip_path(gossip.id), class:"btn btn-light"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

