<!doctype html>

<html lang="en">
  <head>
    <style>
        .jumbotron {
            width: 99.05vw;
            height: 95vh;
            background-image: linear-gradient(to bottom, rgba(0, 0, 250, 0.25) 0%,rgba(125, 250, 250, 0.45) 100%), url("https://businessforimpact.georgetown.edu/wp-content/uploads/sites/126/2019/06/blur-close-up-computer-keyboard-792199-1024x683.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .jumbotron h1, h2{
          margin-top:500px; 
        
        }

        

    </style>

  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center text-dark">
        <h3 class="display-5 text-info">Welcome <%=params[:first_name] %> !!!</h3>  

        <br><br>
        
        <% hazard = rand(2..Gossip.count) %>


        <h5> &quot<%=Gossip.find(hazard).content %>&quot</h5>
       <h4 class="text-light"> <%= 

User.find(hazard).first_name %> <%= User.find(hazard).last_name%></h4>

        
         <h6> &quot<%= Comment.find(hazard).content %>&quot</h6>
         <h5 class="text-primary"> <%= User.find(Comment.find(hazard).user_id).first_name.capitalize %> <%= User.find(Comment.find(hazard).user_id).last_name.capitalize %></h5>
    
    <Br><br>

       <h5> &quot<%=Gossip.last.content %>&quot</h5>
       <h4 class="text-primary"> <%= 

User.find(Gossip.last.user_id).first_name.capitalize %> <%= User.find(Gossip.last.user_id).last_name.capitalize%></h4>

        
         <h6> &quot<%= Comment.last.content %>&quot</h6>
         <h5 class="text-primary"> <%= User.find(Comment.last.user_id).first_name.capitalize %> <%= User.find(Comment.last.user_id).last_name.capitalize %></h5>


       
      </div>
    </div>
  </body>
</html>