<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand">TheGossiProject</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-pills">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Team", team_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link"%>
        </li>
      </ul>
    </div>
  </nav>
</header>


 <br> <br> <br>



<div class="container">
  <div class="card my-5"> 
   
    <div class="card-body py-5">
      <h1 class="card-title text-center">
        <span class="font-weight-normal"><%= @gossip.title%> 👧⚔️🦇</span>
        <small><strong >&quot</strong>
        <a href="/user/<%= @gossip.user.id %>" class="text-info"><strong><%= @gossip.user.first_name%><strong> <%= @gossip.user.last_name%></a>
        </small>
      </h1>
      <h4 class="card-text pt-5 px-2"><%= @gossip.content%> 🦉☕</h4>    
    </div>
    <div class="card-body text-muted text-right">
       <%= @gossip.id %>-<%= @gossip.created_at.strftime("%d/%m/%Y") %>
    </div>
  </div>


