<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.2.8.min.css"/>
   
    <%= image_tag("gossip2.jpg")%>
    <p></p>
    <%= link_to 'Créer un gossip', new_gossip_path %>
  </head>
  <table>
  <tr>
    <h5 class="text-muted">©Thierry Jehelmann</h5>
   

    <th>Gossip</th>
  </tr>

  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= gossip.anonymous_author %></td>
      <td><%= gossip.content %></td>
      <td><%= link_to 'Voir', gossip_path(gossip) %></td>
      <td><%= link_to 'Editer', edit_gossip_path(gossip) %></td>
      <td><%= link_to 'Effacer', gossip_path(gossip), method: :delete %></td>
    </tr>
  <% end %>
</table>
</html>
