<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>

    <% if @gossip.errors.any? %>
      <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
    <% end %>

    <div class="container text-center mt-5">
      <h3 style="color: #053557">New Gossip </h3>
      <div class="m-5">
        <%= form_tag url_for(action: 'create'), method: "post" do %>

          <%= label_tag 'Title' %> <br/>
          <%= text_field_tag 'title' %>
          <br /> <br />

          <%= label_tag 'Content' %> <br/>
          <%= text_area_tag 'content' %>
          <br /> <br />

          <%= submit_tag "Send" %> 
        <% end %>
        
    </div>
  </body>
</html>
